@font-face {
  font-family: "enaioOpenSans";
  src: url(./font/OpenSans-Regular-webfont.eot); /* IE9 Compat Modes */
  src: url(./font/OpenSans-Regular-webfont.eot?#iefix)
      format("embedded-opentype"),
    /* IE6-IE8 */ url(./font/OpenSans-Regular-webfont.woff) format("woff"),
    /* Pretty Modern Browsers */ url(./font/OpenSans-Regular-webfont.ttf)
      format("truetype"),
    /* Safari, Android, iOS */
      url(./font/OpenSans-Regular-webfont.svg#robotolight) format("svg"); /* Legacy iOS */
}

:root {
  --white: #ffffff;
  --enaio-color-gradient1: #1a9ed4;
  --enaio-color-gradient2: #0092e1;
  --enaio-color-gradient3: #0083cb;
}

body {
  margin: 0;
}

* {
  font-family: "enaioOpenSans", Arial, Sans-Serif;
  font-size: 12.5px;
  font-style: normal;
  color: #777;
  font-weight: 400;
}

.header-banner {
  background: var(--enaio-color-gradient1);
  background: linear-gradient(
    225deg,
    var(--enaio-color-gradient1) 0%,
    var(--enaio-color-gradient2) 66%,
    var(--enaio-color-gradient3)
  );
  background: -webkit-linear-gradient(
    225deg,
    var(--enaio-color-gradient1) 0%,
    var(--enaio-color-gradient2) 66%,
    var(--enaio-color-gradient3)
  );
  color: var(--white);
  display: flex;
}

.header-banner .header-banner-text {
  display: flex;
  flex-direction: column;
  align-self: end;
  text-align: right;
  padding: 16px 32px;
}

.header-banner-text span {
  color: var(--white);
}

.header-banner .header-banner-logo {
  padding: 48px 32px 0 32px;
}

.main-container,
.header-container,
.header-banner,
.section-container {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.main-container {
  background: var(--white);
}

.header-container {
  display: flex;
}

.section-container {
  display: block;
  box-sizing: border-box;
  padding: 16px 32px 32px 32px;
}

.section-container .section-heading {
  font-weight: bolder;
  font-size: 16px;
  margin: 16px 0 0 0;
}

.section-container section {
  margin-bottom: 32px;
}

.section-container .section-text {
  padding: 16px 0;
  margin: 0;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content p {
  margin: 16px 0;
}

.content-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content .content-link {
  color: var(--enaio-color-gradient1);
}

.inner-button {
  height: 32px;
  background-color: var(--enaio-color-gradient3);
  border: transparent;
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 1px 0 0 #dedede;
  transition: background-color 0.2s ease-in-out;
  display: inline-block;
  padding: 0 16px;
  margin-right: 8px;
}

.inner-button:hover {
  background-color: var(--enaio-color-gradient1);
}

.collapsible {
  background-color: var(--white);
  cursor: pointer;
  border: none;
  font-size: 16px;
  padding-left: 0;
}

.active,
.collapsible:hover {
  background-color: var(--white);
}

legend {
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  border-bottom: 1px solid #bbb;
  display: flex;
  align-items: center;
  width: 100%;
}

.collapsible:after {
  content: "˄";
}

legend.active .collapsible:after {
  content: "˅";
}

.selected-objects,
.bolder,
.subheading {
  font-weight: 800;
}

.notice {
  margin: 6px 0px 22px;
}
